.container_form{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
    flex-direction: column;
}
