* {
  margin: 0;
  box-sizing: border-box;
} html { background-color: #708868;}

body {
  font-family: "Source Sans Pro", sans-serif;
  height: 100%;
  width: 100%;
  background-color: #708868;
}

/* Estilos para el encabezado */
header {
  width: 100%;
  height: 80px;
  background-color: #913921;
  padding-top: 5px;
  padding-bottom: 5px;
}

.container__menu {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 20px;
  flex-direction: row;
}

.menu {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  padding: 0 10px;
  align-items: center;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li {

}

.menu ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #fca814;
  text-transform: uppercase;
  transition: color 0.3s;
  margin: 5px;
  transition: .5s;
  padding: 5px;
}

.menu ul li a:hover {
  color: white;
  font-size: larger;
} 

/* Estilos para la sección de descripción */
.slide {
  width: 100vw;
  height: 700px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, #000000, #222222);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.pny-rotator-content {
  padding-bottom: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
}


.container_description {
  padding-top: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
} 
#titTriplice {
  color: white;
  font-size: 170%;
}



/*botao com hover transition (falta setar pra botao global*/
.btnbeta {
  height: 3rem;
  width: 10rem;
  border-radius: 2rem;
  background-color: #7a121b;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 4px #414827;
  transition: .5s;
}.btnbeta:hover {
  height: 3.5rem;
  width: 12rem; }


  
#participeBeta {
  color: #fca814;
  font-size: 120%;
}
.cover {
  padding: 100px;
  text-align: center;
}

.text {
  padding: 30px;
}

.slider-image {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}

.PersonageImage {
  width: 100%;
  height: auto;
 ;
}

/* Estilos para el pie de página */
footer {
  width: 100%;
  height: auto;
  background-color: #913921;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.container__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0;
  padding: 0 20px;
}

.footer-text h1 {
  color: #fca814;
}

.menu-text-footer {
  padding: 0;
}

.menu-text-footer ul {
  list-style: none;
  display: flex;
}

.menu-text-footer ul li {
  margin-left: 20px;
}

.menu-text-footer ul li a {
  text-decoration: none;
  color: #fca814;
  transition: color 0.3s;
  transition: .5s;
}
.menu-text-footer ul li a:hover {
  color: white;
  font-size: 110%;
} 

.social-media {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.social-media ul {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

.social-media ul li {
  margin-right: 20px;
}

/*.social-media ul li a {
  text-decoration: none;
  color: #fca814;
}

.social-media ul li a:hover {
  color: white;
  transition: .5s;
  font-size: small;
} */

.socialIcon {
  /*Icone do Facebook*/
  height: 20px;
  align-items: center;
  margin: 3px;
} .socialIcon:hover {
  transition: .5s;
  height: 30px;
}

/* Botão do idioma */

.language-selector {
  display: flex;
  position: relative;
  left: 5;
  top: -10px;
  ;
}

.IdiomaImagem {
  border-radius: 100px;
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
}

nav .drop-down {
  list-style: none;
  overflow: hidden;
  /* Quando a altura do ul é reduzida, garante que os li que excedem não sejam mostrados */
  height: 130px;
  /* 172px = (38 (li) + 5 (li border)) * 4 (número de li) */
  background-color: #00000000;
  font-family: Arial;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  position: absolute;
  border-radius: 100px;
}

nav .drop-down li {
<<<<<<< Updated upstream
  background-color: #333333a4;
}
=======
    background-color: #708868a4;
  }
>>>>>>> Stashed changes

nav .drop-down.closed {
  /* Quando alternado via jQuery, essa classe reduzirá a altura do ul que, em conjunto
       com overflow: hidden definido no ul, ocultará todos os itens da lista, exceto o primeiro */
  /* altura atual do li 38px + 5px de borda */
  height: 40px;
}

nav .drop-down li a {
  display: block;
<<<<<<< HEAD
  padding: 10px;
  /* Larger touch target area */
}
=======
  padding: 10px; /* Larger touch target area */
}

<<<<<<< Updated upstream
.footer-logo img{ /*alterando o tamanho do logo do footer*/
  width: 60px;
  height: 60px;
}
>>>>>>> 5c76e1495a5e170182696042e9ab1b4447197346
=======
#frase1 { 
  font-size:  200% ;
  color: #fca814;
}
>>>>>>> Stashed changes
