.container_form {
    
    display: flex;
    width: 100%;
    height: 550px;
    background-color: #E7C9AD;
    align-items: center;
    margin: 0px 400px;

}

.form {
    
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    width: 100%;
}