/*styles
BEJE* - fundo : #e7c9ad(nao to usando)

        •BASE•
FUNDO - verde : #708868
LAYOUT - vermelho : #913921

        •DETALHES•
BG ITEM - verde escuro : #414827
TEXTO  h2 - amarelo : #fca814
TEXTO  h1/span : white
LINK  h3/p - vermelho : #7a121b
*/

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  height: 100%;
  width: 100%;
  background: #708868;
}

/* Estilos para el encabezado */
header {
  width: 100%;
  height: 90px;
  background-color: #913921;
  padding: 5px;
}

.container__menu {
  max-width: 95%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-size-adjust: initial;
  padding: 0px 20px;
  flex-direction: row;
}

.menu {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

#menu-text {
  position: relative;
  left: -35px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  padding: 0 10px;
  align-items: start;
}

.menu ul {
  list-style: none;
  display: inline-flex;
  align-items: center;
}.menu ul li {
  margin: 12px;}
.menu ul li a {
  text-decoration: none;
  color: white;
  transition: .3s;}
.menu ul li a:hover {
  color: #fca814;
  font-size: 120%;
}

/* Estilos para la sección de descripción */
/*.slide {
  width: 100vw;
  height: 600px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, #000000, #222222);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}*/

.pny-rotator-content {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
  padding: 40px;
  background-color: #708868;
}


/*q div é essa?

.container_description {
  padding-top: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
}*/

/*texto, botao e img principal*/
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 6rem;
  padding: 20px;
}

.btnbeta {
  height: 3rem;
  width: 10rem;
  margin: .5rem;
  border-radius: 2rem;
  font-size: 100%;
  transition: .3s;
  box-shadow: 4px 3px #414827;
  background-color: #7a121b;
}.btnbeta:hover {
  height: 4rem;
  width: 13rem;
  font-size: 120%;
} .participeBeta {
  color: #fca814;
}

.mainImg {
  align-items: flex-end;
}

.slider-image {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;

}

.info {
  background-color: #fca814
}

.characterInfo {
  width: 100%;
  height: auto;
}

/* Estilos para el pie de página */
footer {
  width: 100%;
  height: auto;
  background-color: #913921;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.container__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0;
  padding: 0 20px;
}

.footer-logo img {
  width: 50px;
  height: 50px;
  position: relative;
  top: 10px;
}

.footer-text h1 {
  color: #fff;
}

.menu-text-footer {
  padding: 0;
}

.menu-text-footer ul {
  list-style: none;
  display: flex;
}

.menu-text-footer ul li {
  margin-left: 20px;
}

.menu-text-footer ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.menu-text-footer ul li a:hover {
  color: #fca814;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.social-media ul {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

.social-media ul li {
  margin-right: 20px;
}

.social-media ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.social-media ul li a:hover {
  color: #f6615d;
}

.socialIcon {
  /*Icone do Facebook*/
  height: 30px;
  width: 30px;
}

/* Botão do idioma */

.language-selector {
  display: flex;
  position: relative;
  left: 5;
  top: -22px;
  ;
}

.IdiomaImagem {
  border-radius: 100px;
}

nav .drop-down {
  z-index: 1000;
  /* Aumente este valor conforme necessário */
  list-style: none;
  overflow: hidden;
  height: 130px;
  background-color: #00000000;
  font-family: Arial;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  position: absolute;
  border-radius: 100px;
}


nav .drop-down li {
  background-color: #333333a4;
}

nav .drop-down.closed {
  /* Quando alternado via jQuery, essa classe reduzirá a altura do ul que, em conjunto
       com overflow: hidden definido no ul, ocultará todos os itens da lista, exceto o primeiro */
  /* altura atual do li 38px + 5px de borda */
  height: 40px;
}

nav .drop-down li a {
  display: block;
  padding: 10px;
  /* Larger touch target area */
}

/* O botão do idioma termina aqui */