* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    width: 100%;
}

/* Estilos para el encabezado */
header {
    width: 100%;
    height: 80px;
   
    background-color: #333;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container__menu {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
    flex-direction: row;
}
.menu {
    display:flex ;
    flex-direction: row;
    text-align: center ;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    padding: 0 10px;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li {
    margin-left: 20px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #F6615D;
}

.language-selector{
    padding: 0 81px;
}

/* Estilos para la sección de descripción */
.container_description {
    padding-top: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F6615D;
}
.btnbeta{
    height: 3rem;
    width: 10rem;
    border-radius: 2rem;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.cover {
    padding: 100px;
    text-align: center;
}

.text {
    padding: 20px;
}

.slider-image {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;

}
.PersonageImage{
    width: 100%;
    height: auto;
    max-width: 1200px; /* Limita el ancho máximo del slider para mantener un diseño ordenado */
    margin: 0 auto; /* Centra el slider en la página */
}

/* Estilos para el pie de página */
footer {
    width: 100%;
    height: 70px;
    background-color: #333;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0;
    text-align: center;
}

.container__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-text h1 {
    color: #fff;
}
.menu-text-footer{
    padding: 0;
}

.menu-text-footer ul {
    list-style: none;
    display: flex;
}

.menu-text-footer ul li {
    margin-left: 20px;
}

.menu-text-footer ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.menu-text-footer ul li a:hover {
    color: #F6615D;
}

.social-media{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.social-media ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.social-media ul li {
    margin-right: 20px;

}

.social-media ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.social-media ul li a:hover {
    color: #F6615D;
}

.socialIcon { /*Icone do Facebook*/ 
    height: 30px;
    width: 30px;
}
